In [4]:
import findspark
import os
findspark.init()

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('firstSession')\
.config('spark.master','local[4]')\
.config('spark.shuffle.sql.partitions',1)\
.getOrCreate()

In [4]:
spark

In [5]:
columnas=['id','nombre','x']
lista=[
    (1,'Errodinger','a'),
    (2,'Paco','b'),
    (3,'Hola','c'),
    (4,'Adios','d')
]

In [6]:
df1=spark.createDataFrame(lista,schema=columnas)

In [7]:
df1.count()

4

In [8]:
df1.show()

+---+----------+---+
| id|    nombre|  x|
+---+----------+---+
|  1|Errodinger|  a|
|  2|      Paco|  b|
|  3|      Hola|  c|
|  4|     Adios|  d|
+---+----------+---+

In [9]:
df1.columns

['id', 'nombre', 'x']

In [10]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- x: string (nullable = true)

In [11]:
df=spark.read.csv('Downloads/newseg.csv',sep=';',header=True)

In [12]:
df.count()

589758

In [13]:
df.show(5)

+------+---------------+--------------------+------+-------------+-------------+--------------------+---------+
|FUENTE|CODIGO_COMERCIO|        RAZON_SOCIAL|   CUC|NRO_DOCUMENTO|SEGMENTO_BAIN|             CLUSTER|CATEGORIA|
+------+---------------+--------------------+------+-------------+-------------+--------------------+---------+
|     N|      100025101|FARMACIA UNIVERSA...|142543|  20100025168|      2.Large|Retail de bienes ...|Farmacias|
|     N|      100004712|      MONARK PERU SA|142510|  20100004756|      2.Large|               Otros|    Otros|
|     N|      100016601|IMPORTACIONES HIR...|142528|  20100016681|        1.Top|Retail de bienes ...|    Otros|
|     N|      100041336|RIMAC SEGUROS Y R...|142578|  20100041953|        1.Top|           Servicios|  Seguros|
|     N|      100004701|      MONARK PERU SA|142510|  20100004756|      2.Large|               Otros|    Otros|
+------+---------------+--------------------+------+-------------+-------------+--------------------+---------+
only showing top 5 rows

In [ ]:
#######Selecionar columnas

In [16]:
df_reduc=df.select(df.FUENTE,df.CODIGO_COMERCIO,df.NRO_DOCUMENTO,df.SEGMENTO_BAIN)

In [17]:
df_reduc.show()

+------+---------------+-------------+-------------+
|FUENTE|CODIGO_COMERCIO|NRO_DOCUMENTO|SEGMENTO_BAIN|
+------+---------------+-------------+-------------+
|     N|      100025101|  20100025168|      2.Large|
|     N|      100004712|  20100004756|      2.Large|
|     N|      100016601|  20100016681|        1.Top|
|     N|      100041336|  20100041953|        1.Top|
|     N|      100004701|  20100004756|      2.Large|
|     N|      100017661|  20100017491|        1.Top|
|     N|      100028604|  20100028698|     3.Medium|
|     N|      100004716|  20100004756|      2.Large|
|     N|      100028616|  20100028698|     3.Medium|
|     N|      100019902|  20100019940|     3.Medium|
|     N|      100028642|  20100028698|     3.Medium|
|     N|      100016603|  20100016681|        1.Top|
|     N|      100017673|  20100017491|        1.Top|
|     N|      100035046|  20332970411|        1.Top|
|     N|      100025119|  20100025168|      2.Large|
|     N|      100012001|  20100012007|     3.Medium|
|     N|      100028628|  20100028698|     3.Medium|
|     N|      100030510|  20100030595|   6.Gobierno|
|     N|      100000301|  20100000335|      4.Small|
|     N|      100010704|  20100010721|     3.Medium|
+------+---------------+-------------+-------------+
only showing top 20 rows

In [14]:
import pandas as pd
data=pd.read_excel('Downloads/reporte_nps.xlsx',sheet_name='Data')
data

,Session ID,CreationTime,Fecha,CreationTime_Peru,startingCause,TipoEncuesta,NPS,SOL,SAT,Libre,operatorid,contactId,channelId,typification
0,R38ZNONRP3U7ET8PCG4L_2023-03-01T16:53:56.576Z,2023-03-01T16:53:56Z,2023-03-01,2023-03-01 11:53:56-05:00,Organic,NaN,NaN,NaN,NaN,NaN,NaN,51945252026,niubiz-whatsapp-51915368891,finished
1,22P5J8YQ7IK67ZQT5AF8_2023-03-01T17:02:34.920Z,2023-03-01T17:02:34Z,2023-03-01,2023-03-01 12:02:34-05:00,Organic,NaN,NaN,NaN,NaN,NaN,NaN,51960839086,niubiz-whatsapp-51915368891,NaN
2,SVWBOC5Z1TXZGX1F7A7Z_2023-03-01T17:02:58.469Z,2023-03-01T17:02:58Z,2023-03-01,2023-03-01 12:02:58-05:00,Organic,NaN,NaN,NaN,NaN,NaN,w3y7gG69XrbzyX2mYG9Mr3g17vn1,51973784376,niubiz-whatsapp-15512958227,NaN
3,JH6P8AD7NUL3PN0GV45N_2023-03-01T17:04:03.771Z,2023-03-01T17:04:03Z,2023-03-01,2023-03-01 12:04:03-05:00,Organic,NaN,NaN,NaN,NaN,NaN,308ih2gcmEhTGNZNPfvQq4mQMrp2,niubiz_test_chat-mBcIsRiUmqNDO9TbPfI7omnJvXV2,niubiz-webchat-null-niubiz_test_chat,NaN
4,R38ZNONRP3U7ET8PCG4L_2023-03-01T18:08:41.390Z,2023-03-01T18:08:41Z,2023-03-01,2023-03-01 13:08:41-05:00,Organic,NaN,NaN,NaN,NaN,NaN,NaN,51945252026,niubiz-whatsapp-51915368891,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236897,R3UP1FIXLNACNEISUDS3_2023-05-28T19:59:51.952Z,2023-05-28T19:59:51Z,2023-05-28,2023-05-28 14:59:51-05:00,Organic,NaN,NaN,NaN,NaN,NaN,NaN,51923966729,niubiz-whatsapp-5116149800,INACTIVIDAD_DEL_CLIENTE_BOT
236898,7UYHAS37TIXVWMJGM2GQ_2023-05-28T20:09:13.969Z,2023-05-28T20:09:13Z,2023-05-28,2023-05-28 15:09:13-05:00,Organic,NaN,NaN,NaN,NaN,NaN,NaN,51912321825,niubiz-whatsapp-5116149800,FUERA_DE_HORARIO
236899,XIJWGY3YTL5AN6UDSZLO_2023-05-28T20:10:08.444Z,2023-05-28T20:10:08Z,2023-05-28,2023-05-28 15:10:08-05:00,Organic,Agente,9.0,Si,10.0,NaN,NaN,51995610267,niubiz-whatsapp-5116149800,finished
236900,GNHAMFZWYTIKNZPPK6QA_2023-05-28T20:24:44.892Z,2023-05-28T20:24:44Z,2023-05-28,2023-05-28 15:24:44-05:00,Organic,Bot,8.0,No,NaN,NaN,NaN,51990654748,niubiz-whatsapp-5116149800,NaN
236901,VFGB6VGRGR0ARCDLUZ5A_2023-05-28T20:29:33.019Z,2023-05-28T20:29:33Z,2023-05-28,2023-05-28 15:29:33-05:00,Organic,NaN,NaN,NaN,NaN,NaN,NaN,51982281835,niubiz-whatsapp-5116149800,NaN

In [34]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType,DateType,FloatType
from pyspark.sql.functions import col, isnan, when

In [16]:
schema = StructType([ \
    StructField("Session ID",StringType(),True), \
    StructField("CreationTime",StringType(),True), \
    StructField("Fecha",DateType(),True), \
    StructField("CreationTime_Peru", StringType(), True), \
    StructField("startingCause", StringType(), True), \
    StructField("TipoEncuesta", StringType(), True), \
    StructField("NPS", FloatType(), True), \
    StructField("SOL", StringType(), True), \
    StructField("SAT", FloatType(), True), \
    StructField("Libre", StringType(), True), \
    StructField("operatorid", StringType(), True) ,\
    StructField("contactId", StringType(), True), \
    StructField("channelId", StringType(), True), \
    StructField("typification", StringType(), True) \
    ])

In [66]:
data_1=spark.createDataFrame(data,schema=schema)

In [67]:
data_1.count()

236902

In [68]:
data_1=data_1.withColumnRenamed('Session ID', 'Session_ID')

In [69]:
data_1=data_1.where('TipoEncuesta <> "NaN"')

In [70]:
data_1=data_1.withColumn("SAT", when(isnan(col("SAT")), None).otherwise(col("SAT")))
data_1.select(data_1.SAT).distinct().show()

+----+
| SAT|
+----+
|10.0|
| 9.0|
| 5.0|
|null|
| 7.0|
| 2.0|
| 3.0|
| 1.0|
| 6.0|
| 8.0|
| 4.0|
+----+

In [71]:
data_1=data_1.withColumn("SOL",when(isnan(col("SOL")),None).otherwise(col("SOL")))
data_1= data_1.withColumn("SOL", when(col("SOL") == "Si", 1).otherwise(col("SOL")))
data_1= data_1.withColumn("SOL", when(col("SOL") == "No", 0).otherwise(col("SOL")))

In [72]:
data_1.select(data_1.SOL).distinct().show()

+----+
| SOL|
+----+
|   1|
|   0|
|null|
+----+

In [73]:
data_1 = data_1.withColumn("NPS", when(data_1.NPS <7,1)
                                 .when(data_1.NPS<6 ,-1)
                                 .otherwise(0))

In [74]:
data_1=data_1.withColumn("SAT",when(data_1.SAT>6,1)
                         .when(data_1.SAT<=6,0)
                         .otherwise(col("SAT")))

In [75]:
data_1.select(data_1.SAT).distinct().show()

+----+
| SAT|
+----+
| 1.0|
|null|
| 0.0|
+----+

In [77]:
data_1.write.parquet("Desktop/chatbot/chatbot.parquet")