In [11]:
import sqlalchemy
import pandas as pd
import numpy as np
import datetime as dt
from sqlalchemy import types

In [12]:
server = 'uther.visanet.lan'
database = 'GDC'
driver = 'ODBC Driver 17 for SQL Server'
database_con = f'mssql://@{server}/{database}?driver={driver}'

engine = sqlalchemy.create_engine(database_con)
con = engine.connect()

In [13]:
df_1= pd.read_excel(io='D:/Usuarios/ncantoral/OneDrive - NIUBIZ/Escritorio/Retenciones Cierre Mensual/Reporte Retenciones 202311 - Cierre Noviembre.xlsb',sheet_name="CRM_BASE")

# df_1['Fecha']= pd.Timestamp.today().strftime('%Y/%m/%d %H:%M:%S')

# df_1.rename(columns={'Fecha y Hora': 'Fecha_y_Hora', 'ID Llamada': 'ID_Llamada', 'Datos Cliente': 'Datos_Cliente', 'Columna2': 'Columna1'}, inplace=True)

df_1

,Secuencia,Creado en fecha y hora,Periodo,SEMANA,Fecha1,Fecha2,Intervalo,ID de ticket,MCC Nacional,MCC Internacional,...,Código de comercio,Agente CRM,Estado,Pool,Desafiliado_NBO,Pool_NBO,Producto.1,Creado por.1,Nota interna completa,Columna1
0,1.0,27.11.2023 04:32:40 UTC-5,202311.0,SEMANA 48,2023-11-27,45257.0,430.0,18860676.0,1011.0,7538.0,...,100027003.0,NaN,Trámites - No Procede - Resuelto,Retención,NaN,NaN,POS Básico,Anabelle Krhistina Padrino Arellan,27.11.2023 a las 04:32:40 por Anabelle Krhisti...,NaN
1,1.0,22.11.2023 18:57:48 UTC-5,202311.0,SEMANA 47,2023-11-22,45252.0,1830.0,18855612.0,1011.0,7538.0,...,100027006.0,NaN,Trámites - No Procede - Resuelto,Retención,NaN,NaN,POS Básico,Anabelle Krhistina Padrino Arellan,22.11.2023 a las 18:57:48 por Anabelle Krhisti...,NaN
2,1.0,27.11.2023 04:42:10 UTC-5,202311.0,SEMANA 48,2023-11-27,45257.0,430.0,18860686.0,1011.0,7538.0,...,100027015.0,NaN,Trámites - No Procede - Resuelto,Retención,NaN,NaN,POS Básico,Anabelle Krhistina Padrino Arellan,27.11.2023 a las 04:42:10 por Anabelle Krhisti...,NaN
3,1.0,27.11.2023 04:27:06 UTC-5,202311.0,SEMANA 48,2023-11-27,45257.0,400.0,18860673.0,1011.0,7538.0,...,100027008.0,NaN,Trámites - No Procede - Resuelto,Retención,NaN,NaN,POS Básico,Anabelle Krhistina Padrino Arellan,27.11.2023 a las 04:27:06 por Anabelle Krhisti...,NaN
4,1.0,27.11.2023 04:38:22 UTC-5,202311.0,SEMANA 48,2023-11-27,45257.0,430.0,18860681.0,1011.0,7538.0,...,100027012.0,NaN,Trámites - No Procede - Resuelto,Retención,NaN,NaN,POS Básico,Anabelle Krhistina Padrino Arellan,27.11.2023 a las 04:38:22 por Anabelle Krhisti...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,1.0,07.11.2023 12:26:01 UTC-5,202311.0,SEMANA 45,2023-11-07,45237.0,1230.0,18833891.0,200.0,5139.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,1.0,15.11.2023 13:35:08 UTC-5,202311.0,SEMANA 46,2023-11-15,45245.0,1330.0,18845593.0,7777.0,5812.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_1.columns

Index(['Secuencia', 'Creado en fecha y hora', 'Periodo', 'SEMANA', 'Fecha1',
       'Fecha2', 'Intervalo', 'ID de ticket', 'MCC Nacional',
       'MCC Internacional', 'Provincia', 'Producto', 'Tipo Producto',
       'Clasificación ABC (Ticket)', 'Tipo de Atención (Ticket)',
       'Estado de Resolución', 'Estado (Ticket)',
       'Categoría de servicio DESC NUEVA', 'Categoría de incidente DESC NUEVA',
       'Categoría del objeto DESC NUEVA', 'Categoría de causa DESC NUEVA',
       'Ticket', 'Canal de atención', 'Nombre Comercial', 'RUC',
       'Razon Social', 'Codigo de Comercio', 'Creado el', 'Creado por',
       'Agente', 'Fecha de finalización', 'Modificado por',
       'Nombre Representante legal', 'Telefono Representante legal',
       'Celular Representante legal', 'Correo electrónico', 'Nota interna',
       'Nombre Herramienta', 'Fecha de interacción',
       'Hora local de interacción', 'Nombre grupo objetivo', 'RANK',
       'Grupo CRM', 'Nota interna Completa', 'Filtro Categoria Causa',
       'Filtro Codigo Drive', 'Filtro Codigo Drive2', 'Filtro Codigo Drive3',
       'Filtro Codigo Drive4', 'Filtro Codigo Drive5',
       'Filtro Error - Pruebas', 'Reten_Ven > 1509', 'Tipo de Registro',
       'Codigo Unico / Id Pedido', 'Tipo', 'Clasificación', 'Funcionario',
       'Ticket.1', 'Código de comercio', 'Agente CRM', 'Estado', 'Pool',
       'Desafiliado_NBO', 'Pool_NBO', 'Producto.1', 'Creado por.1',
       'Nota interna completa', 'Columna1'],
      dtype='object')

In [15]:
df_1=df_1.drop('Nota interna Completa',axis=1)

In [16]:
df_1.dtypes

Secuencia                 float64
Creado en fecha y hora     object
Periodo                   float64
SEMANA                     object
Fecha1                     object
                           ...
Pool_NBO                  float64
Producto.1                 object
Creado por.1               object
Nota interna completa      object
Columna1                  float64
Length: 67, dtype: object

In [17]:
columnas_enteros = df_1.select_dtypes(include=['int'])

# Imprimir las columnas con valores enteros
print(columnas_enteros)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1004 rows x 0 columns]

In [18]:
tipo_datos_sqlalchemy = {
    'int64': types.BIGINT(),
    'float64': types.FLOAT(),
}

# Definir el tipo de datos predeterminado para columnas no clasificadas
default_data_type = types.NVARCHAR(255)

# Crear un diccionario de tipos de datos para usar con to_sql
tipos_de_datos_sqlalchemy = {}

for columna, tipo in df_1.dtypes.items():
    tipo_sqlalchemy = tipo_datos_sqlalchemy.get(str(tipo), default_data_type)
    tipos_de_datos_sqlalchemy[columna] = tipo_sqlalchemy

# Utilizar to_sql para importar el DataFrame con los tipos de datos de SQLAlchemy especificados
df_1.to_sql('retest', engine, if_exists='replace', index=False, dtype=tipos_de_datos_sqlalchemy)

In [21]:
df_1['Filtro Codigo Drive4']

0         1
1         1
2         1
3         1
4         1
       ...
999     0xf
1000    0xf
1001    NaN
1002    NaN
1003    NaN
Name: Filtro Codigo Drive4, Length: 1004, dtype: object