In [3]:
import mysql.connector

# Establecer la conexión
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="unalm123",
    database="dataf"
)

# Crear un objeto Cursor
cursor = conexion.cursor()

# Ejemplo de consulta SELECT
cursor.execute("SELECT * FROM mitabla")
resultados = cursor.fetchall()
for fila in resultados:
    print(fila)

# Ejemplo de inserción de datos
insert_query = "INSERT INTO  (col1, col2, col3) VALUES (%s, %s, %s)"
datos_a_insertar = ("valor1", "valor2", "valor3")
cursor.execute(insert_query, datos_a_insertar)
conexion.commit()

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

('Dato1', 'Dato2', 'Dato3')
('valor1', 'valor2', 'valor3')