In [137]:
import pyodbc
import pandas as pd
import sqlalchemy

In [138]:
server = 'asqldbvisaprod.database.windows.net'
database = 'asqldwvisaprod'
username = 'ncantoral@niubiz.com.pe'
password = 'Niubiz2022$1'
driver = '{ODBC Driver 17 for SQL Server}'  # Controlador ODBC para Azure
authentication = 'ActiveDirectoryPassword'

In [139]:
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};Authentication={authentication}"

In [140]:
connection = pyodbc.connect(connection_string)

In [141]:
server = 'uther.visanet.lan'
database = 'GDC'
driver = 'ODBC Driver 17 for SQL Server'
database_con = f'mssql://@{server}/{database}?driver={driver}'

engine = sqlalchemy.create_engine(database_con)
con = engine.connect()

In [156]:
retenciones=pd.read_excel('D:/Usuarios/ncantoral/OneDrive - NIUBIZ/Escritorio/Retenciones_newseg.xlsx')

In [157]:
retenciones

,periodo,Codigo,Flg_retenido,Herramienta,causa,Pool_Funcionario,Tipo_Funcionario,Segmento,Unidad_de_negocio,fechaalta,...,Estadohabilitado_n5,Estadohabilitado_n6,Estadohabilitado_n7,Estadohabilitado_n8,Estadohabilitado_n9,Estadohabilitado_n10,Estadohabilitado_n11,Agrupaciones_Motivos,ClusterGrupo,New_Cluster
0,202212.0,450899002.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20060222.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,3.Medium
1,202212.0,450899001.0,0.0,#,NO DESEA POR COSTOS (FIJOS Y VARIABLES),Funcionario,Funcionario,TOP,Corporativo,20060221.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Pricing,Retail Ampliado,3.Medium
2,202212.0,650070446.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20190925.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,2.Large
3,202212.0,650070664.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20190925.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,2.Large
4,202212.0,650070648.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20190925.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,2.Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,202307.0,458378712.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20160811.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,5.Micro
6393,202307.0,458378714.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20160811.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,1.Top
6394,202307.0,650228660.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20230308.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,1.Top
6395,202307.0,458378717.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20180423.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,1.Top
6396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.Top

In [158]:
valores = ', '.join(map(str,retenciones['Codigo'].dropna() ))

In [159]:
consulta = f"select periodo,codigo,sum(margencomercio) as MgTxn from [Finanzas].[v_Rentabilidad_Margen] where periodo>=202206 and codigo in ({valores}) group by periodo,codigo order by periodo,codigo"

In [160]:
finanzas=pd.read_sql(consulta, connection)

In [161]:
finanzas

        periodo     codigo        MgTxn
0      202206.0  100002202  3590.600185
1      202206.0  100017538   -28.321643
2      202206.0  100038107   156.154461
3      202206.0  100041551    -5.821643
4      202206.0  100075812   119.451088
...         ...        ...          ...
79894  202307.0  999587402     0.000000
79895  202307.0  999595701   -17.762835
79896  202307.0  999629301     0.000000
79897  202307.0  999641101     0.000000
79898  202307.0  999785902     0.000000

[79899 rows x 3 columns]

In [162]:
retorno=retenciones.merge(finanzas,left_on=['periodo','Codigo'],right_on=['periodo','codigo'],how='left')
retorno

,periodo,Codigo,Flg_retenido,Herramienta,causa,Pool_Funcionario,Tipo_Funcionario,Segmento,Unidad_de_negocio,fechaalta,...,Estadohabilitado_n7,Estadohabilitado_n8,Estadohabilitado_n9,Estadohabilitado_n10,Estadohabilitado_n11,Agrupaciones_Motivos,ClusterGrupo,New_Cluster,codigo,MgTxn
0,202212.0,450899002.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20060222.0,...,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,3.Medium,450899002.0,0.000000
1,202212.0,450899001.0,0.0,#,NO DESEA POR COSTOS (FIJOS Y VARIABLES),Funcionario,Funcionario,TOP,Corporativo,20060221.0,...,0.0,0.0,0.0,0.0,0.0,Pricing,Retail Ampliado,3.Medium,450899001.0,-60.446230
2,202212.0,650070446.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20190925.0,...,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,2.Large,650070446.0,0.000000
3,202212.0,650070664.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20190925.0,...,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,2.Large,650070664.0,-60.446230
4,202212.0,650070648.0,0.0,#,CIERRE DE LOCAL PERMANENTE,Funcionario,Funcionario,TOP,Corporativo,20190925.0,...,0.0,0.0,0.0,0.0,0.0,Coyuntural,Retail Ampliado,2.Large,650070648.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,202307.0,458378712.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20160811.0,...,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,5.Micro,458378712.0,-10.363573
6393,202307.0,458378714.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20160811.0,...,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,1.Top,458378714.0,-10.363573
6394,202307.0,650228660.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20230308.0,...,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,1.Top,650228660.0,-9.210445
6395,202307.0,458378717.0,0.0,#,MALA VENTA,Pool,Pool,TOP,Corporativo,20180423.0,...,0.0,0.0,0.0,0.0,0.0,Otros,Gobierno y Giros en Desarrollo,1.Top,458378717.0,-10.363573
6396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.Top,NaN,NaN

In [163]:
retorno=retorno[['periodo','Flg_retenido','Pool_Funcionario','Codigo','New_Cluster','MgTxn']]
retorno

,periodo,Flg_retenido,Pool_Funcionario,Codigo,New_Cluster,MgTxn
0,202212.0,0.0,Funcionario,450899002.0,3.Medium,0.000000
1,202212.0,0.0,Funcionario,450899001.0,3.Medium,-60.446230
2,202212.0,0.0,Funcionario,650070446.0,2.Large,0.000000
3,202212.0,0.0,Funcionario,650070664.0,2.Large,-60.446230
4,202212.0,0.0,Funcionario,650070648.0,2.Large,0.000000
...,...,...,...,...,...,...
6392,202307.0,0.0,Pool,458378712.0,5.Micro,-10.363573
6393,202307.0,0.0,Pool,458378714.0,1.Top,-10.363573
6394,202307.0,0.0,Pool,650228660.0,1.Top,-9.210445
6395,202307.0,0.0,Pool,458378717.0,1.Top,-10.363573
6396,NaN,NaN,NaN,NaN,1.Top,NaN

In [164]:
finanzas['periodo'] = pd.to_datetime(finanzas['periodo'], format='%Y%m')

In [165]:
retorno['periodo'] = pd.to_datetime(retorno['periodo'], format='%Y%m')

D:\Usuarios\ncantoral\AppData\Local\Temp/ipykernel_12636/189973565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retorno['periodo'] = pd.to_datetime(retorno['periodo'], format='%Y%m')

In [166]:
retorno['periodo original']=retorno['periodo']

D:\Usuarios\ncantoral\AppData\Local\Temp/ipykernel_12636/2102165455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retorno['periodo original']=retorno['periodo']

In [167]:
retorno=retorno.rename(columns={'MgTxn':'MgTxn_m0'})

In [182]:
retorno['periodo']=pd.to_datetime(retorno['periodo'], format='%Y%m')
retorno['periodo'] = retorno['periodo'] + pd.DateOffset(months=1)

In [183]:
retorno=retorno.merge(finanzas,left_on=['periodo','Codigo'],right_on=['periodo','codigo'],how='left')
retorno = retorno.rename(columns={'MgTxn': 'MgTxn_m8'})
retorno

D:\Usuarios\ncantoral\Anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'codigo_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

,periodo,Flg_retenido,Pool_Funcionario,Codigo,New_Cluster,MgTxn_m0,periodo original,codigo_x,MgTxn_m1,codigo_y,...,codigo_y,MgTxn_m4,codigo_x,MgTxn_m5,codigo_y,MgTxn_m6,codigo_x,MgTxn_m7,codigo_y,MgTxn_m8
0,2023-08-01,0.0,Funcionario,450899002.0,3.Medium,0.000000,2022-12-01,450899002.0,0.0,450899002.0,...,450899002.0,0.000000,450899002.0,0.0,450899002.0,0.0,450899002.0,0.0,NaN,NaN
1,2023-08-01,0.0,Funcionario,450899001.0,3.Medium,-60.446230,2022-12-01,450899001.0,0.0,450899001.0,...,450899001.0,0.000000,450899001.0,0.0,450899001.0,0.0,450899001.0,0.0,NaN,NaN
2,2023-08-01,0.0,Funcionario,650070446.0,2.Large,0.000000,2022-12-01,650070446.0,0.0,650070446.0,...,650070446.0,-2.665315,650070446.0,0.0,650070446.0,0.0,650070446.0,0.0,NaN,NaN
3,2023-08-01,0.0,Funcionario,650070664.0,2.Large,-60.446230,2022-12-01,650070664.0,0.0,650070664.0,...,650070664.0,0.000000,650070664.0,0.0,650070664.0,0.0,650070664.0,0.0,NaN,NaN
4,2023-08-01,0.0,Funcionario,650070648.0,2.Large,0.000000,2022-12-01,650070648.0,0.0,650070648.0,...,650070648.0,0.000000,650070648.0,0.0,650070648.0,0.0,650070648.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,2024-03-01,0.0,Pool,458378712.0,5.Micro,-10.363573,2023-07-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6393,2024-03-01,0.0,Pool,458378714.0,1.Top,-10.363573,2023-07-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6394,2024-03-01,0.0,Pool,650228660.0,1.Top,-9.210445,2023-07-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6395,2024-03-01,0.0,Pool,458378717.0,1.Top,-10.363573,2023-07-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6396,NaT,NaN,NaN,NaN,1.Top,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
retorno=retorno[['periodo original','Flg_retenido','Pool_Funcionario','Codigo','New_Cluster','MgTxn_m0','MgTxn_m1','MgTxn_m2','MgTxn_m3','MgTxn_m4','MgTxn_m5','MgTxn_m6','MgTxn_m7','MgTxn_m8']]

In [185]:
retorno = retorno.drop('periodo original', axis=1)
retorno['periodo']=retenciones['periodo'].reset_index(drop=True)

In [186]:
retorno.to_excel('D:/Usuarios/ncantoral/OneDrive - NIUBIZ/Escritorio/retenciones_retorno.xlsx', index=False)

In [187]:
retorno

,Flg_retenido,Pool_Funcionario,Codigo,New_Cluster,MgTxn_m0,MgTxn_m1,MgTxn_m2,MgTxn_m3,MgTxn_m4,MgTxn_m5,MgTxn_m6,MgTxn_m7,MgTxn_m8,periodo
0,0.0,Funcionario,450899002.0,3.Medium,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,NaN,202212.0
1,0.0,Funcionario,450899001.0,3.Medium,-60.446230,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,NaN,202212.0
2,0.0,Funcionario,650070446.0,2.Large,0.000000,0.0,0.0,0.0,-2.665315,0.0,0.0,0.0,NaN,202212.0
3,0.0,Funcionario,650070664.0,2.Large,-60.446230,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,NaN,202212.0
4,0.0,Funcionario,650070648.0,2.Large,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,NaN,202212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,0.0,Pool,458378712.0,5.Micro,-10.363573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202307.0
6393,0.0,Pool,458378714.0,1.Top,-10.363573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202307.0
6394,0.0,Pool,650228660.0,1.Top,-9.210445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202307.0
6395,0.0,Pool,458378717.0,1.Top,-10.363573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202307.0
6396,NaN,NaN,NaN,1.Top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN